#tblSpace {
	margin-left: 50px;
}

#btnDelete {
	background-color: Red;
}

#btnQuesCancel {
	background-color: Red;
}

#btnQuesSave {
	background-color: Menu;
}

#ltlquesmistMsg {
	color: Red;
}

#BtnAdd {
	background-color: LimeGreen;
}