<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>動態問卷前台 - 回答確認頁</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/confirmPage.css}" />
	<script th:src="@{/js/jquery-3.6.0.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<style>
		#confirmTopDiv {
			display: flex;
			justify-content: right;
			padding-top: -20px;
		}
		
		#confirmMainDiv {
			margin-left: 60px;
		}
	</style>
	<script th:inline="javascript">
		var message = /*[[${alertMessage}]]*/ "";
		if(message != null)
			alert(message);
		
		const pageUrl = new URL(window.location.href);
		var questionnaireId = pageUrl.searchParams.get("ID");

		$(document).ready(function () {
			var ansInfo = JSON.parse(sessionStorage.getItem('ansInfo'));
			if(ansInfo == null) {
			    alert('請確認答案後再送出!!'); history.go(-1);
			}
			
			$.ajax({
		        url: "/getQuestions/" + questionnaireId,
		        type: "GET",
		        dataType: 'json',   
		        success: function (result) {                           
		            if(result !== null) {
		            	for (var i = 0; i < result.length; i++) {
		                	var userAns = result[i];               	
		                	var htmlTitle = `<h5>第${i + 1}題：${userAns.questionTitle}</h5>`;
		                	if (ansInfo != null) {
		                    	for (var k = 0; k < ansInfo.length; k++) {                    	
		                       	 if (userAns.questionNumber == ansInfo[k].questionNumber) {
		                       		htmlTitle += `<p>回答： ${ansInfo[k].answer}</p>`;
		                            break;
		                        	}
		                    	}
		                	}
		                	htmlTitle += `<hr class="invisible"/>`;
		                	htmlTitle += `</br></div >`;
		                	$("#quesAnswer").append(htmlTitle);
		            	}
		            }
		        }
		    });
		})
	</script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="firstDiv col-8">
        <div id="confirmTitleDiv" class="col-2">
          <br />
          <h1>前台</h1>
        </div>
        <div align="right" class="col-12">
          <span id="ltlState" th:text="${questionnaire.questionnaireStates}==true ? '投票中': '已完結'"></span><br /><br />
          <small th:text="'投票期間為 : ' + ${#dates.format(questionnaire.startDate, 'yyyy-MM-dd')} + '～' + ${#dates.format(questionnaire.endDate, 'yyyy-MM-dd')}"></small>
        </div>
      </div>
      <div id="contentDiv" class="col-8">
        <h2 align="center" th:text="${questionnaire.questionnaireTitle}"></h2>
        <br />
      </div>
      <form th:action="@{/confirmPage}" method="post">
        <div id="userInfoQuestion" class="col-8">
          <br /><br />
          <span>打 * 號者為必填(或必選)</span><br /><br />
          <table>
            <tr>
              <td>(*)姓名:</td>
              <td>
                <input th:value="${session.userinfo.name}" type="text" id="txtname" placeholder="輸入姓名" disabled="disabled" />
                *請輸入中文姓名*<br /><br />
              </td>
            </tr>
            <tr>
              <td>(*)手機:</td>
              <td>
                <input th:value="${session.userinfo.phone}" type="tel" id="txtphone" placeholder="輸入手機號碼" disabled="disabled" />
                *請輸入10位數字的號碼*<br /><br />
              </td>
            </tr>
            <tr>
              <td>(*)Email:</td>
              <td>
                <input th:value="${session.userinfo.email}" type="email" id="txtemail" placeholder="輸入信箱" disabled="disabled" />
                *信箱應該包含@*<br /><br />
              </td>
            </tr>
            <tr>
              <td>(*)年齡:</td>
              <td>
                <input th:value="${session.userinfo.age}" type="number" id="txtage" placeholder="輸入年齡" disabled="disabled" />
                *請輸入介於10~150之間*
              </td>
            </tr>
          </table>
          <hr class="my-4 invisible" />
          <br /><br />
          <!-- 問題回答 -->
          <div id="quesAnswer"></div>
          <br />
        </div>
        <br /><br />
        <div align="right" id="btnSpace" class="col-2">
	        <a th:href="@{/formPage?ID=}+${questionnaire.questionnaireId}" ID="btnCancel" class="btn btn-danger" >取消</a>
            <button type="submit" class="btn btn-primary" th:confirm-submit="|您確定要送出回答嗎？|" onclick="return confirm(this.getAttribute('confirm-submit'))">送出</button>
        </div>
        <br />
      </form>
    </div>
  </div>
</body>

</html>