<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>動態問卷後台 - 新增問卷</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/backAddquestionnaire.css}" />
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- <script th:src="@{/js/backAddquestionnaire.js}"></script> -->
    <script th:inline="javascript">
      var message = /*[[${alertMsg}]]*/ "";
      if (message != null) alert(message);

      $(document).ready(function () {
        var questionnaireSession = "[[${session.questionnaire}]]";
        var totalanswers = sessionStorage.getItem("totalanswers");

        if (questionnaireSession !== "null") {
          $("#Link-Questionnaire-tab").removeClass("active");
          $("#formQuestionnaire").removeClass("active show");

          $("#Link-Questions-tab").addClass("active");
          $("#formQuestions").addClass("active show");
        }

        $(".detail").click(function () {
          var id = $(this).attr("id");
          $("#formAnswers").removeClass("active show");
          $("#formAnswers-detail").addClass("active show");
          document.getElementById("questionnaireInfo").innerHTML = " ";
          
          $.ajax({
            url: "/loadAnswerDetail/" + id,
            type: "GET",
            dataType: "json",
            success: function (result) {
              $("#txtname").val(result.name);
              $("#txtphone").val(result.phone);
              $("#txtemail").val(result.email);
              $("#txtage").val(result.age);
              $("#txtTime").text("填寫時間  :   " + result.createDate);
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert("通訊失敗，請聯絡管理員。");
            },
          });

          $.ajax({
            url: "/loadAnswerInfo/" + id,
            type: "GET",
            dataType: "json",
            success: function (result) {
              for (var i = 0; i < result.questions.length; i++) {
                var question = result.questions[i];

                var title = `<h4>${i + 1}：${question.questionTitle}</h4>`;
                if (question.mustKeyin == "on") {
                  title += "<p style='color: red'>(*必填)</p>";
                }

                // 單選方塊
                if (question.questionType == 0) {
                  var choices = question.questionChoices.split(";");
                  for (var j = 0; j < choices.length; j++) {
                    title += `<input type="radio" class="ansRadio" id="${question.questionId}" value = ${choices[j]} />${choices[j]}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp`;
                  }
                }
                //複選方塊
                else if (question.questionType == 1) {
                  var choices = question.questionChoices.split(";");
                  for (var j = 0; j < choices.length; j++) {
                    title += `<input type="checkbox" class="ansChb" id="${question.questionId}" value = ${choices[j]} />${choices[j]}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp`;
                  }
                }
                //文字方塊
                else {
                  title += `<input type="text" id="${question.questionId}" placeholder="請在此做答"></input>`;
                }
                
                title += `<hr class="invisible"/>`;
                title += `</br></div >`;
                $("#questionnaireInfo").append(title);
              }

              for (var i = 0; i < result.questions.length; i++) {
                var question = result.questions[i];
                for (var k = 0; k < result.answer.length; k++) {
                  var answers = result.answer[k];
                  if (question.questionType == 0) {
                    if (question.questionId == answers) {
                      $(
                        '[id="' + answers.answerNumber + '"][value="' + answers.answer + '"]'
                      ).attr("checked", true);
                    }
                  } else if (question.questionType == 1) {
                    if (question.questionId == answers) {
                      var splitAnswer = answer.value.split(",");
                      for (var l = 0; l < splitAnswer.length; l++) {
                        $(
                          '[id="' + answers.answerNumber + '"][value="' + splitAnswer[l] + '"]').prop("checked", true);
                      }
                    }
                  } else {
                    if (question.questionId == answers) {
                      $('[id="' + answers + '"]').val(answers.answer);
                    }
                  }
                }
              }
            },
            error: function (xhr, ajaxOptions, thrownError) {
              alert("通訊失敗，請聯絡管理員。");
            },
          });
        });
      });

      function back() {
        $("#formAnswers").addClass("active show");
        $("#formAnswers-detail").removeClass("active show");
      }
    </script>
  </head>

  <body>
    <div th:replace="~{backListPage::header}"></div>
    <div class="container">
      <div class="row" id="h1Div">
        <h1>後台 - 新增問卷</h1>
      </div>
      <div>
        <div class="col-lg-12">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-link active"
              	 id="Link-Questionnaire-tab"
              	 data-bs-toggle="tab"
              	 data-bs-target="#formQuestionnaire"
              	 type="button" role="tab"
              	 aria-controls="formQuestionnaire"
              	 aria-selected="true"
              	 href="#formQuestionnaire">問卷</a>
              <a class="nav-link"
                 id="Link-Questions-tab"
                 data-bs-toggle="tab"
                 data-bs-target="#formQuestions"
                 type="button"
                 role="tab"
                 aria-controls="formQuestions"
                 aria-selected="false"
                 href="#formQuestions">問題</a>
              <a class="nav-link"
                 id="Link-Answers-tab"
                 data-bs-toggle="tab"
                 data-bs-target="#formAnswers"
                 type="button"
                 role="tab"
                 aria-controls="formAnswers"
                 aria-selected="false"
                 href="#formAnswers">填寫資料</a>
              <a class="nav-link"
                 id="Link-Total-tab"
                 data-bs-toggle="tab"
                 data-bs-target="#formTotal"
                 type="button"
                 role="tab"
                 aria-controls="formTotal"
                 aria-selected="false"
                 href="#formTotal">統計</a>
            </div>
          </nav>
          <form th:action="@{/backAddquestionnaire}" method="post" th:object="${questionnaireList}">
            <div class="tab-content" id="nav-tabContent">
              <!-- 問卷頁籤 -->
              <div class="tab-pane fade active show" id="formQuestionnaire" role="tabpanel" aria-labelledby="Link-Questionnaire-tab">
                <div th:text="${quesErrorMsg}" class="mb-3" style="color: red"></div>
                <p>有標示(*)為必填欄位</p>
                <div class="questitle">
                  <label>*問卷名稱: </label>
                  <input type="text" id="txtTitle" th:name="title" th:if="${questionnaire} == null"/>&emsp;*問卷名稱至少要有五個字*
                  <br /><br />
                  <input type="text" id="txtTitle" th:name="title" th:unless="${questionnaire} == null" th:value="${q.questionnaireTitle}"/>
                </div>
                <div class="quesbody">
                  <label>*描述內容: </label>
                  <input type="text" id="txtBody" th:name="body" th:if="${questionnaire} == null"/>&emsp;*問卷內容至少要有二十個字*<br /><br />
                  <input type="text" id="txtBody" th:name="body" th:unless="${questionnaire} == null" th:value="${q.questionnaireBody}"/>
                </div>
                <div class="quesstart">
                  <label>*開始時間: </label>
                  <input
                    type="date"
                    id="txtStart"
                    th:name="startDate"
                    th:if="${questionnaire} == null"
                    th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"
                  />&emsp;*開始時間不能早於今天*<br /><br />
                  <input type="date" id="txtStart" th:name="startDate" th:unless="${questionnaire} == null" th:value="${#dates.format(q.startDate, 'yyyy-MM-dd')}"/>
                </div>
                <div class="quesend">
                  <label>*結束時間: </label>
                  <input type="date" id="txtEnd" th:name="endDate" th:if="${questionnaire} == null"/>&emsp;*結束時間不能早於開始時間*<br /><br />
                  <input type="date" id="txtEnd" th:name="endDate" th:unless="${questionnaire} == null" th:value="${#dates.format(q.endDate, 'yyyy-MM-dd')}"/>
                </div>
                <br />
                <label for="checkUse">*已啟用</label>
                <input type="checkbox" id="checkUse" checked="checked" th:name="state"/><br />
                <br /><br />
                <button id="cancel" type="reset" onClick="window.location.href='/backListPage'" class="delete">取消</button>
                <button id="save" type="submit" class="save" name="createq" th:if="${changeQues} == null">送出</button>
                <button id="change" type="submit" class="change" name="change" th:unless="${changeQues} == null">修改</button>
              </div>
              <!-- 問卷頁籤結束 -->
              <!-- 問題頁籤 -->
              <div class="tab-pane fade" id="formQuestions" role="tabpanel" aria-labelledby="Link-Questions-tab">
				<label id="ltlquesmistMsg" class="mistake"></label>
                <div>
                  <label>種類: </label>
                  <select class="form-select" id="selecclass" onchange="select()">
                    <option selected="selected" value="0">自訂問題</option>
                    <option th:each="OftenUseQues:${oftenUseQues}" th:value="${OftenUseQues.questionnaireId}" th:text="${OftenUseQues.questionnaireTitle}"></option>
                  </select>
                  <br /><br />
                </div>
                <div>
                  <label>問題: </label>
                  <input type="text" id="txtTitle" th:name="questionTitle"/>&nbsp;
                  <select id="selectype" th:name="questionType">
                    <option value="0">單選方塊</option>
                    <option value="1">複選方塊</option>
                    <option value="2">文字方塊</option>
                  </select>&emsp;*問題至少要有三個字*
                  <br /><br />
                </div>
                <div>
                  <label>回答:</label>
                  <input type="text" id="txtAnswer" th:name="questionChoices"/>&nbsp;*多個答案以;分隔*
                  <button id="BtnAdd" type="submit" class="save" th:name="add">加入</button>
                  <br /><br />
                </div>
                <div>
                  <label for="checkMust">必填項目:</label>
                  <input type="checkbox" id="checkMust" checked="checked" th:name="mustKeyin"/><br /><br />
                </div>
                <button id="btnDelete" type="submit" class="delete">刪除</button>
                <table class="table table-striped">
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th>問題</th>
                    <th>種類</th>
                    <th>必填</th>
                    <th></th>
                  </tr>
                  <tr th:each="questions, status: ${session.questions}">
                    <td>
                      <input type="checkbox" th:if="${questions.questionId} == null" th:value="${status.index}" th:name="index"/>
                      <input type="checkbox" th:unless="${questions.questionId} == null" th:value="${questions.questionId}" th:name="questionId"/>
                    </td>
                    <td>
                      <span ID="hfquesDetailID" th:text="${questions.questionNumber}"></span>
                    </td>
                    <td>
                      <label id="lblquesDetailTitle" th:text="${questions.questionTitle}"></label>
                    </td>
                    <td>
                      <label id="lblquesDetailType" th:text="${questions.questionType}"></label>
                    </td>
                    <td>
                      <input type="checkbox" id="ckbListUse" disabled="disabled" checked="checked" th:checked="${questions.mustKeyin}"/>
                    </td>
                  </tr>
                </table>
                <button id="btnquesCancel" type="reset" onClick="window.location.href='/backListPage'" class="cancel">取消</button>
                <button id="btnquesSave" type="submit" class="save" th:if="${changeques} == null" th:name="createquestion">送出</button>
                <button type="submit" class="save" th:unless="${changeques} == null" th:name="editquestion">修改</button>
              </div>
              <!-- 問題頁籤結束 -->
              <!-- 填寫資料頁籤 -->
              <div class="tab-pane fade" id="formAnswers" role="tabpanel" aria-labelledby="Link-Answers-tab">
                <a id="btnsavefile" th:if="${useranswers} != null" th:href="@{/answerlisttoCSV}">匯出(.CSV)</a>
                <div th:if="${useranswers} != null">
                  <br /><br />
                  <table class="table table-success table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>填寫時間</th>
                        <th>觀看細節</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="user, status : ${useranswers}">
                        <td>
                          <label id="lblNumber" th:text="${status.count}"></label>
                        </td>
                        <td>
                          <label id="ltlName" th:text="${user.name}"></label>
                        </td>
                        <td>
                          <label id="ltlTime" th:text="${#dates.format(user.createDate, 'yyyy-MM-dd')}"></label>
                        </td>
                        <td>
                          <a th:href="@{/answerDetail(ID=${user.userId})}">前往</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div th:unless="${useranswers} != null">
                  <table class="table table-success table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>姓名</th>
                        <th>填寫時間</th>
                        <th>觀看細節</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center" colspan="4">--尚未有人填寫問卷--</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="formAnswers-detail" role="tabpanel" aria-labelledby="Link-Answers-tab">
                <fieldset disabled>
                  <div>
                    <p>有標示(*)為必填欄位</p>
                    <span>*姓名: </span>
                    <input type="text" id="txtname" placeholder="輸入姓名" th:name="txtname"/>
                  </div>
                  <br />
                  <div>
                    <span>*手機號碼: </span>
                    <input type="tel" id="txtphone" placeholder="輸入手機號碼" th:name="txtphone"/>
                  </div>
                  <br />
                  <div>
                    <span>*E-mail: </span>
                    <input type="email" id="txtemail" placeholder="輸入信箱" th:name="txtemail"/>
                  </div>
                  <br />
                  <div>
                    <span>*年齡: </span>
                    <input type="number" id="txtage" placeholder="輸入年齡" th:name="txtage"/>
                  </div>
                  <br />
                  <div>
                    <small id="txtTime" th:name="txtTime"></small>
                  </div>
                  <hr class="invisible" />
                  <div id="questionnaireInfo"></div>
                </fieldset>
                <button type="button" onclick="back()" class="btn btn-outline-dark">返回</button>
              </div>
              <!-- 填寫資料頁籤結束 -->
              <!-- 統計頁籤 -->
              <div class="tab-pane fade" id="formTotal" role="tabpanel" aria-labelledby="Link-Total-tab">
                <div th:if="${totalanswers} != null" th:each="question, status : ${totalanswers}">
                  <div th:if="${questions.mustKeyin == true}">
                    <h4 th:text="${status.count} + '.' + ${question.questionTitle} + '(*必填)'"></h4>
                  </div>
                  <div>
                    <h4 th:unless="${question.mustKeyin == true}" th:text="${status.count}+ '.' + ${question.questionTitle}"></h4>
                  </div>
                </div>
                <div th:unless="${totalanswers} != null">
                  <h4 class="text-center">--目前暫無統計資料--</h4>
                </div>
              </div>
              <!-- 統計頁籤結束 -->
            </div>
          </form>
        </div>
        <br />
      </div>
    </div>
  </body>
  
  <div th:replace="~{backListPage::footer}"></div>
</html>
